---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from "../components/Services.astro"
import Team from '../components/Team.astro';
import Testimonial from '../components/Testimonial.astro';
import Contact from '../components/Contact.astro';
import Case from '../components/Case.astro';
---
<!-- Mustmedia Official Astro theme -->
<Layout title="Mustmedia">
	<main class="space-y-20">
		<Hero data-aos="fade-up" />
		<Services data-aos="fade-up" />
		<Case data-aos="fade-up" />
		<Team data-aos="fade-up" />
		<Testimonial data-aos="fade-up" />
		<Contact data-aos="fade-up" />
	</main>
</Layout>